@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Roboto400.woff2) format('woff2'), url(../fonts/Roboto400.woff) format('woff');
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/Roboto500.woff2) format('woff2'), url(../fonts/Roboto500.woff) format('woff');
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Roboto700.woff2) format('woff2'), url(../fonts/Roboto700.woff) format('woff');
}
@font-face {
	font-family: Quicksand;
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/Quicksand300.woff2) format('woff2'), url(../fonts/Quicksand300.woff) format('woff');
}
@font-face {
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/Quicksand500.woff2) format('woff2'), url(../fonts/Quicksand500.woff) format('woff');
}
@font-face {
	font-family: Quicksand;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Quicksand700.woff2) format('woff2'), url(../fonts/Quicksand700.woff) format('woff');
}
