// header colors
bg-color = #f5f8ff
content-color = #8d96bd
light-purple-color = #5e81fe
dark-grey-color = #697ca6
cloud-color = #d2E1ff
blue-color = #3a79ff
deep-blue-color = #4d6ce1
dark-blue-color = #3d4f9f




main-color = #25bcca
main-dark-color = darken(main-color, 21%)
red-color = #ee2020
green-color = #57b782
gray-color = #d6e1e4
bg-color = #f9f9fb