@require "_colors"
@require "_core"
@require "_normalize"
@require "layouts/*"

// @require "_style-guide"
// @require "example-styles/*"
@require "../../node_modules/swiper/dist/css/swiper.css"

@require "blocks/*"
// @require "modificators/*"
