.upload-form
	display flex
	flex-direction column
	max-width 350px

.progress-bar
	height 60px
	width 250px
	border 2px solid lightblue
	margin-top 20px

	&__fill
		height 100%
		width 0%
		background-color tomato
		display flex
		align-items center
		font-weight bold
		transition width .25s

	&__text
		margin-left 10px
		font-weight bold