.tabs
	&__toggles
		border-bottom 1px solid gray-color
		margin-bottom 20px
		display flex
	&__toggle
		border 1px solid gray-color
		border-bottom none
		padding 10px 20px
		position relative
		flex 0 1 auto
		cursor pointer
		&:not(.active):hover
			background-color gray-color
		& + &
			border-left none
		&.active
			background-color tomato
			&:after
				content ""
				size 100% 1px
				background-color bg-color
				position absolute
				left 0
				bottom -1px
				display block
	&__tab:not(.active)
		display none
.tabs-scroll
	@media (max-width: 1024px)
		overflow-x scroll
		overflow-y hidden
		margin-right -20px
		& .tabs__toggle
			flex 1 0 auto
		@media mobile
			margin-right -15px
			&::-webkit-scrollbar
				display none