// .error-validation
// 	border 1px solid red

.validate-error
	position relative
	& input 
		border 1px solid red
	& .text-error
		display block
		position absolute
		color red
		bottom 7px
		font-size 13px
		// padding 0 0 10px 0
.test 
	border 3px solid yellow !important
.js-validation-form
	display flex
	flex-wrap wrap
	justify-content space-between
	& label
		width 47%
		padding-bottom 10px
		& input
			width 100%
.text-error
	display none
